{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% embed 'embeded/panel.html.twig' %}
                {% block panel_title %}Modifications apportées
                {% endblock %}
                {% block panel_body %}
                    {% for change in changes %}
                        <h5>{{ change.date.format('Y-m-d H:i') }}</h5>
                        <p>{{ change.message|raw }}</p>
                    {% endfor %}
{% endblock %}
                {% block panel_footer %}{% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}