/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/*
/web/vendor/*
/.idea
/src/BillingBundle/Resources/word/*
/src/BillingBundle/Resources/factures/*
/src/BillingBundle/Resources/devis/*
/src/BillingBundle/Resources/avoirs/*
