.body_height_250 .x_content{
    max-height:250px;
    overflow-x: auto;
}
.body_height_300 .x_content{
    max-height:300px;
    overflow-x: auto;
}
.body_height_350 .x_content{
    max-height:350px;
    overflow-x: auto;
}